<template>
    <li>
                <a href="#" class="glyphicon glyphicon-globe">&nbsp;Notifications</a>
                <ul class="fh5co-sub-menu">
                 <li v-for="notification in notifications">
                   
                 </li>
                </ul>
              </li>
</template>

<script>
    export default {
        props: ['notifications']
    }
</script>
